.header {
  color: $primary;
  background-color: rgba($white, 0.92);
  backdrop-filter: blur(12px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba($primary, 0.08);
  box-shadow: 0 12px 32px rgba($black, 0.05);
  padding: 12px 0;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &.header-absolute {
    position: absolute;
    z-index: 10;
    width: 100%;
  }
}
.lock-scroll {
  .header {
    &.header-absolute {
      position: static;
    }
  }
}
.sticky {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}
