.intro-image {
  width: 100%;
  height: auto;
  margin-top: 0;
}
.intro-image-absolute {
  max-width: 100%;
  padding: 0;
  margin-bottom: 20px;
}

.intro-image-column {
  display: flex;
  align-items: stretch;
}

@include media-breakpoint-up(md) {
  .intro-image-column {
    height: auto;
  }

  .intro-image,
  .intro-image-absolute {
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover;
    object-position: center;
  }
}

.intro {
  @include media-breakpoint-up(md) {
    .row {
      align-items: stretch;
    }
  }
}

.intro-image-hide-mobile {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}
