.page-team-list {
  .team-summary-large {
    text-align: left;
  }

  .team-clinic {
    border-top: 1px solid $white-offset;

    h2,
    p {
      font-family: $font-family-base;
      color: $black;
    }

    h2 {
      font-size: 1.35rem;
      margin-bottom: 10px;
      font-weight: 700;
    }

    p {
      margin-bottom: 12px;
      font-size: 1rem;
      line-height: 1.5;
    }
  }
}
