.page-team-list {
  .team-clinic {
    p {
      margin-bottom: 14px;
    }

    .clinic-points {
      margin: 0;
      padding-left: 20px;

      li {
        margin-bottom: 8px;
        line-height: 1.35;
      }
    }
  }

  .team-summary-large {
    text-align: left;
  }
}
