.page-team-list {
  .team-summary-large {
    text-align: left;
  }

  .team-clinic {
    border-top: 1px solid rgba($primary, 0.08);

    h2,
    p {
      color: $black;
    }

    h2 {
      font-size: 1.65rem;
      margin-bottom: 12px;
      font-weight: 600;
    }

    p {
      margin-bottom: 14px;
      font-size: 1rem;
      line-height: 1.68;
    }
  }
}
