.page-services-list {
  .services-process {
    h2,
    h3,
    p {
      font-family: $font-family-base;
      color: $black;
    }

    h2 {
      margin-bottom: 10px;
      font-size: 1.6rem;
      font-weight: 700;
    }

    p {
      margin-bottom: 14px;
      font-size: 1rem;
      line-height: 1.45;
    }

    .process-card {
      height: 100%;
      background: $white;
      border: 1px solid $white-offset;
      border-radius: 3px;
      padding: 20px;

      h3 {
        font-size: 1rem;
        line-height: 1.35;
        margin-bottom: 8px;
        font-weight: 700;
      }

      p {
        font-size: 0.98rem;
        line-height: 1.45;
        margin-bottom: 0;
      }
    }
  }
}
