.page-services-single {
  .content {
    > p {
      &:first-of-type {
        font-size: 1.28rem;
        line-height: 1.62;
        margin-bottom: 32px;
        color: darken($grey, 2%);
      }
    }
  }
}
