.page-default-list {
  .intro {
    p {
      font-family: $font-family-base;
      font-size: 1.2rem;
      line-height: 1.5;
      color: $grey;
    }
  }

  .summary {
    p {
      margin-bottom: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.35;
      color: $grey;
    }
  }
}
