{{ if .Site.Params.homepage.sticky_header}}
<div class='header' id="stickyHeader">
{{ else }}
<div class='header'>
{{ end }}
  <div class="container">
    <div class="header-inner">
      <div class="header-brand">
        <a class="header-logo" href="{{ .Site.Home.RelPermalink }}">
          <picture class="brand-mark" style="--desktop-logo-height: {{ .Site.Params.logo.desktop_height }}; --mobile-logo-height: {{ .Site.Params.logo.mobile_height }};">
            <source media="(max-width: 991.98px)" srcset="{{ .Site.Params.logo.mobile | relURL }}" />
            <img alt="{{ .Site.Params.logo.alt }}" src="{{ .Site.Params.logo.desktop | relURL }}" />
          </picture>
        </a>
        <span class="header-tag">Chicagoland house calls</span>
      </div>
      <div class="header-navigation">
        {{ partial "main-menu.html" . }}
        {{ partial "hamburger.html" . }}
      </div>
    </div>
  </div>
</div>
