{{ if .Site.Params.homepage.sticky_header}}
<div class='header' id="stickyHeader">
{{ else }}
<div class='header'>
{{ end }}
  <div class="container">
    <div class="header-inner">
      <div class="header-brand">
        <a class="header-logo" href="{{ .Site.Home.RelPermalink }}">
          <img height={{ .Site.Params.logo.desktop_height }} alt="{{ .Site.Params.logo.alt }}" src="{{ .Site.Params.logo.desktop | relURL }}" />
        </a>
        <span class="header-tag">Mobile acupuncture across Chicagoland</span>
      </div>
      <div class="header-navigation">
        {{ partial "main-menu.html" . }}
        {{ partial "hamburger.html" . }}
      </div>
    </div>
  </div>
</div>
